.gameContainer {
    display: flex;
}

.tetris {
    background-color: black;
}

.left {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.left > p {
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: gainsboro;
    text-align: center;
}

.right {
    background-color: gray;
}
.right > .nextBlockContainer {
    background-color: gainsboro;
    height: 70%;
    width: 100%;
}
.right > .nextBlockContainer > h4 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextBlock {
    width: 400px;
    height: 200px;
}