.modalContainer {
    width: 480px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(50, 50, 50, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContainer > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalContainer > div > h1,
.modalContainer > div > p {
    color: white;
}

.show {
    display: none;
}